:root {
  /* color */
  --primary: #673ab7;
  --primaryLight: #9a67ea;
  --primaryDark: #320b86;
  --textLight: #fff;
  --textDark: #000;
  --background: #212121;
  --success: #27ab83;
  --error: #e12d39;
  --information: #f0b429;

  /* typography */
  --font: Karla;
  --headlines-weight: 700;
  --body-weight: 400;

  --headline-1-size: 66px;
  --headline-1-letter-spacing: -0.5px;

  --headline-2-size: 53px;
  --headline-2-letter-spacing: 0px;

  --headline-3-size: 38px;
  --headline-3-letter-spacing: 0.25px;

  --headline-4-size: 27px;
  --headline-4-letter-spacing: 0px;

  --subtitle-size: 16px;
  --subtitle-letter-spacing: 0.15px;

  --body-size: 17px;
  --body-letter-spacing: 0.5px;

  --button-size: 15px;
  --button-letter-spacing: 1.25px;

  --caption-size: 13px;
  --caption-letter-spacing: 0.4px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: var(--font);
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

h1 {
  color: var(--textLight);
  font-size: var(--headline-1-size);
  font-weight: var(--headlines-weight);
  letter-spacing: var(--headline-1-letter-spacing);
}

.container__library {
  padding: 0 100px 0 100px;
  display: grid;
}

.library__book {
  background-color: var(--primary);
  color: var(--textLight);
  height: 300px;
  width: 200px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15), 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.book__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header__title {
  font-size: var(--headline-4-size);
  font-weight: var(--headlines-weight);
  letter-spacing: var(--headline-4-letter-spacing);
}

.header__author {
  font-size: var(--subtitle-size);
  font-weight: var(--headlines-weight);
  letter-spacing: var(--subtitle-letter-spacing);
}

.book__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.body__icon svg {
  height: 70px;
  width: 70px;
}

.book__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 5px;
}

.footer__numberOfPages {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}

.footer__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkbox__read {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}

.checkbox__switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.checkbox__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch__slider {
  background-color: var(--primaryDark);
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px var(--primaryDark);
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
