:root {
    /* color */
    --primary: #673ab7;
    --primaryLight: #9A67EA;
    --primaryDark: #320B86;
    --textLight: #FFF;
    --textDark: #000;
    --background: #212121;
    --success: #27AB83;
    --error: #E12D39;
    --information: #F0B429;

    /* typography */
    --font: Karla;
    --headlines-weight: 700;
    --body-weight: 400;

    --headline-1-size: 66px;
    --headline-1-letter-spacing: -0.5px;

    --headline-2-size: 53px;
    --headline-2-letter-spacing: 0px;

    --headline-3-size: 38px;
    --headline-3-letter-spacing: 0.25px;

    --headline-4-size: 27px;
    --headline-4-letter-spacing: 0px;

    --subtitle-size: 16px;
    --subtitle-letter-spacing: 0.15px;

    --body-size: 17px;
    --body-letter-spacing: 0.5px;

    --button-size: 15px;
    --button-letter-spacing: 1.25px;

    --caption-size: 13px;
    --caption-letter-spacing: 0.4px;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: var(--font);
}

.container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

h1 {
    color: var(--textLight);
    font-size: var(--headline-1-size);
    font-weight: var(--headlines-weight);
    letter-spacing: var(--headline-1-letter-spacing);
}

.container__library {
    padding: 0 100px 0 100px;
    display: grid;
}

.library__book {
    background-color: var(--primary);
    color: var(--textLight);
    height: 300px;
    width: 200px;
}

.book__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px
}

.header__title {
    font-size: var(--headline-4-size);
    font-weight: var(--headlines-weight);
    letter-spacing: var(--headline-4-letter-spacing);
}

.header__author {
    font-size: var(--subtitle-size);
    font-weight: var(--headlines-weight);
    letter-spacing: var(--subtitle-letter-spacing);
}

.book__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.body__icon svg {
    height: 70px;
    width: 70px;
}

.book__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.footer__numberOfPages {
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}

.footer__read {
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}