:root {
  /* color */
  --primary: #673ab7;
  --primaryLight: #9a67ea;
  --primaryDark: #320b86;
  --textLight: #fff;
  --textDark: #000;
  --background: #212121;
  --success: #27ab83;
  --error: #e12d39;
  --information: #f0b429;

  /* typography */
  --font: Karla;
  --headlines-weight: 700;
  --body-weight: 400;

  --headline-1-size: 66px;
  --headline-1-letter-spacing: -0.5px;

  --headline-2-size: 53px;
  --headline-2-letter-spacing: 0px;

  --headline-3-size: 38px;
  --headline-3-letter-spacing: 0.25px;

  --headline-4-size: 27px;
  --headline-4-letter-spacing: 0px;

  --subtitle-size: 16px;
  --subtitle-letter-spacing: 0.15px;

  --body-size: 17px;
  --body-letter-spacing: 0.5px;

  --button-size: 15px;
  --button-letter-spacing: 1.25px;

  --caption-size: 13px;
  --caption-letter-spacing: 0.4px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: var(--font);
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

h1 {
  color: var(--textLight);
  font-size: var(--headline-1-size);
  font-weight: var(--headlines-weight);
  letter-spacing: var(--headline-1-letter-spacing);
}

.container__library {
  padding: 0 100px 0 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  justify-items: center;
}

.library__book {
  background-color: var(--primary);
  color: var(--textLight);
  height: 300px;
  width: 200px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15), 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.book__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header__delete {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--primaryDark);
}

.header__delete svg {
  width: 16px;
  height: 16px;
  transition: 0.3s ease-in-out;
}

.header__delete:hover svg,
.header__delete:focus svg {
  color: var(--textDark);
  text-decoration: none;
  transform: rotate(90deg);
  cursor: pointer;
}

.header__title,
.header__author {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.header__title {
  font-size: var(--headline-4-size);
  font-weight: var(--headlines-weight);
  letter-spacing: var(--headline-4-letter-spacing);
}

.header__author {
  font-size: var(--subtitle-size);
  font-weight: var(--headlines-weight);
  letter-spacing: var(--subtitle-letter-spacing);
}

.book__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.body__icon svg {
  height: 70px;
  width: 70px;
}

.book__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 5px;
}

.footer__numberOfPages {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}

/* switch button */

.footer__checkbox label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}

.checkbox__switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: 2px;
}

.checkbox__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primaryLight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--textLight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch__slider {
  background-color: var(--primaryDark);
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px var(--primaryDark);
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* add a book display */

.library__book.library__book--add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(262, 52%, 47%, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.library__book.library__book--add:hover {
  transform: scale(1.1);
}

.body__icon--add {
  height: 64px;
  width: 64px;
  color: var(--primaryLight);
  transition: transform 0.3s ease-in-out;
}

.library__book.library__book--add:hover .body__icon--add {
  transform: rotate(90deg);
}

/* modal */

.book__modal.hidden {
  display: none;
}

.book__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__container {
  position: relative;
  background-color: var(--background);
  min-width: 40%;
  height: 55%;
  animation: 0.3s modalScale;
}

@keyframes modalScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.container__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__close {
  position: absolute;
  top: 20px;
  right: 25px;
  color: var(--primaryLight);
}

.header__close svg {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
}

.header__close:hover svg,
.header__close:focus svg {
  color: var(--primary);
  text-decoration: none;
  transform: rotate(90deg);
  cursor: pointer;
}

.content__body {
  width: 100%;
  padding: 0 25% 0 25%;
  color: var(--textLight);
}

.body__inputs {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.inputs__row {
  display: flex;
  justify-content: space-between;
}

.inputs__button {
  display: flex;
  justify-content: center;
}

.button__addButton {
  display: inline-block;
  border: none;
  padding: 0.5rem 2rem;
  margin: 0;
  text-decoration: none;
  background: var(--primaryLight);
  color: var(--textDark);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50px;
}

.button__addButton:hover,
.button__addButton:focus {
  background: var(--primary);
  color: var(--textLight);
}

.button__addButton:active {
  transform: scale(0.99);
}
